body{
    margin: 0;
}
.hero{
    background-color:rgb(215, 29, 100);
    color:aliceblue;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.korobka{
    background-color:rgb(221, 33, 189);
    align-items: center;
    display: flex;
    height: 80vh;
    padding: 0 100px;
    width: 12839px;
}
.box{
    background-color:rgb(0, 0, 0);
    display: flex;
    height: 20vh;
    padding: 0 100px;
    width: 2245px;
}
.korobka2{
    background-color:rgb(221, 33, 189);
    align-items: center;
    display: flex;
    height: 10vh;
    padding: 0 100px;
    width: 17328px;
}
.korobka3{
    background-color:rgb(221, 33, 189);
    align-items: center;
    display: flex;
    height: 80vh;
    padding: 0 100px;
    width:999px;
}
.korobka1{
    background-color:rgb(221, 33, 189);
    align-items: flex-end;
    position: relative;
    height: 80vh;
    padding: 0 100px;
    width: 1434px;
    display: flex;
}
.reklama{
    height: 1000px;
    width: 2000px;
}
.krest{
    height: 100px;
    width: 100px;
}
h6{
    font-size: 500px;
}
h3{
    font-size: 500px;
}
p{
    font-size: 500px;
}